<html>
   <head>
         <title>YonxPost</title>
      </head>
      <body>
         <div style="height: 50px; width: 100%; background-color: rgb(20, 255, 161); font-size: 30px; padding-top: 10px; padding-left: 10px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            YonxPost
         </div>
         <div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-top: 20px; font-size: 20px; padding-bottom: 5px;">Welcome to YonxPost! Post your thoughts here anytime :)</div>
         <div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 12px; padding-bottom: 20px;">You can keep your identity anonymous if you choose to. You can post anything you like. Once posted, your content will be immutable and permanent!</div>
      </body>

      <form action='/submitPost' method="post">
         <input type="text" name="author" placeholder="Enter your name here" required>
         <input type="text" name="content" placeholder="Type your post here" required>
         <input type="submit" name="postContent">
      </form>
</html>